body {
  margin: 0;
  background: #0b1220;
  color: #fff;
  font-family: system-ui;
}

#app {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.characters {
  display: flex;
  justify-content: space-between;
}

.char img {
  width: 200px;
  border-radius: 12px;
}

.name {
  text-align: center;
  margin-top: 6px;
}

#log {
  background: #111a2e;
  margin: 20px 0;
  padding: 15px;
  height: 180px;
  overflow-y: auto;
  border-radius: 10px;
  font-size: 14px;
}

.controls {
  display: flex;
  gap: 6px;
}

.controls input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.controls button {
  padding: 10px 14px;
  border-radius: 6px;
  border: none;
  background: #5865f2;
  color: white;
}
